// aside
.doc-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fbfeff;
  z-index: 111;

  .header {
    position: relative;
    height: 70px;
    min-width: 320px;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    text-align: center;

    &.bg-header {
      background-color: #001d2e;
      a {
        position: absolute;
        display: block;
        height: 70px;
        line-height: 65px;
        top: 0;
        left: 0;
        padding: 0 107px;
        margin: 0;
      }
    }
  }

  .box-snb {
    .snb {
      max-height: calc(100vh - 5rem);
      overflow-y: auto;
      .h-title {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin-top: 20px;
        padding-left: 30px;

        i {
          font-size: 24px;
          margin-right: 20px;
        }
        &.active {
          font-weight: bold;
          color: #333;
        }
        &:hover {
          color: #333333;
        }
        &:first-child {
          margin-top: 20px;
        }
      }
      .m-menu {
        display: block;
        padding-left: 0;
        .m-item {
          display: inline-block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0 0 0 70px;
          color: #333 !important;
          &.active {
            color: $white !important;
            background-color: $primary;
          }
        }
      }
    }
  }
}

// document page (page with aside) header
.doc-header {
  .navbar{
    &.navbar-expand {
      max-width: 880px;
      min-width: 880px;
      margin-left: 320px;
      padding: 19px 25px;
      .nav-item {
        .nav-link {
          margin-right: 60px;
          &:hover {
            color: $primary;
          }
        }

        &:not(.active) {
          .nav-link {
            &:hover {
              color: #333;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

// document content
.doc-content {
  min-width: 880px;
  margin-left: 320px;
  padding: 30px;

  .title {
    padding: 0 0 10px;
    font-weight: 600;
    line-height: 54px;
    padding-bottom: 60px;
  }
  .title-sm {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .text {
    padding-left: 50px;
    span {
      line-height: 26px;
    }
  }
}
