// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  min-width: 80px;
  font-family: $btn-font-family;
  font-weight: 500;
  color: $body-color;
  text-align: center;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  user-select: none;
  background-color: transparent;
  border: none;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  @include hover() {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
  i, .icon {
    margin-right: 6px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
button.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
  .btn-primary, .btn-secondary, .btn-alert {
    color: #fff;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  //font-weight: $font-weight-normal;
  color: #333;
  text-decoration: $link-decoration;

  @include hover() {
    //color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//
.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-xl, $btn-line-height-xl, $btn-border-radius-xl);
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//
// Button Search
//
.btn-search,
.btn-calendar {
  position: absolute;
  right: 2px;
  top: 2px;
  min-width: auto;
  width: 36px;
  height: 36px;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  border-color: #c2c2c2;
  &.btn-search-sm,
  &.btn-calendar-sm{
    width: 26px;
    height: 26px;
    font-size: 16px;
    i {
      margin: 0;
      font-size: 16px;
    }
  }
  i {
    margin: 0;
    font-size: 20px;
    color: #c2c2c2;
  }
  &:hover {
    background-color: #f2f2f2;
    i {
      color: #212529;
    }
  }
}



// custom btn
.btn {
  &.btn-lg {
    width: 140px;
    height: 50px;
  }
  &.btn-xl {
    width: 140px;
    height: 50px;
  }
}

.btn-primary {
  color: #fff;
  background-color: #f6c221;
  border-color: #f6c221; }
  .btn-primary:hover {
    color: #fff;
    background-color: #d9aa1c;
    border-color: #d9aa1c; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #d9aa1c;
    border-color: #d9aa1c; }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f6c221;
    border-color: #f6c221; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c29819;
    border-color: #c29819; }

.btn-secondary {
  color: #fff;
  background-color: #b8cbcf;
  border-color: #b8cbcf; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #a3b4b8;
    border-color: #a3b4b8; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #a3b4b8;
    border-color: #a3b4b8; }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #b8cbcf;
    border-color: #b8cbcf; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #8f9da1;
    border-color: #8f9da1; }

.btn-light {
  color: #333;
  background-color: #f2f2f2;
  border-color: #f2f2f2; }
  .btn-light:hover {
    color: #333;
    background-color: #dbdbdb;
    border-color: #dbdbdb; }
  .btn-light:focus, .btn-light.focus {
    color: #333;
    background-color: #dbdbdb;
    border-color: #dbdbdb; }
  .btn-light.disabled, .btn-light:disabled {
    color: #989898;
    background-color: #f8f8f8;
    border-color: #f8f8f8; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #333;
    background-color: #c4c4c4;
    border-color: #c4c4c4; }

.btn-alert {
  color: #fff;
  background-color: #f56049;
  border-color: #f56049; }
  .btn-alert:hover {
    color: #fff;
    background-color: #de5743;
    border-color: #de5743; }
  .btn-alert:focus, .btn-alert.focus {
    color: #fff;
    background-color: #de5743;
    border-color: #de5743; }
  .btn-alert.disabled, .btn-alert:disabled {
    color: #fff;
    background-color: #f56049;
    border-color: #f56049; }
  .btn-alert:not(:disabled):not(.disabled):active, .btn-alert:not(:disabled):not(.disabled).active,
  .show > .btn-alert.dropdown-toggle {
    color: #fff;
    background-color: #c74e3c;
    border-color: #c74e3c; }

.btn-outline-primary {
  color: #f6c221;
  border: 1px solid #f6c221; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #f6c221;
    border-color: #f6c221; }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #f6c221;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #d9aa1c;
    border-color: #d9aa1c; }

.btn-outline-secondary {
  color: #b8cbcf;
  border: 1px solid #b8cbcf; }
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #b8cbcf;
    border-color: #b8cbcf; }
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #b8cbcf;
    background-color: transparent; }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a3b4b8;
    border-color: #a3b4b8; }
